body{
	background-image: url("پس زمینه-2.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.main1 {
	width: auto;
	height: 300px;
	text-align: center;
	margin-right: 75px;
	position: relative;
}

.dayere1 {
	width: 280px;
	height: 280px;
	position: absolute;
	text-align: center;
    top: 980px;
	right: -11px;
	z-index: 1;
}

.dayere2 {
	width: 280px;
	height: 280px;
	position: absolute;
	top: 980px;
	right: 267px;
	z-index: 1;
}

.dayere3 {
	width: 280px;
	height: 280px;
	position: absolute;
	text-align: center;
	top: 980px;
	right: 550px;
	z-index: 1;
}
.main2 {
	width: auto;
	height: 300px;
	text-align: center;
	margin-right: 75px;
	position: relative;
}

.dayere4 {
	width: 280px;
	height: 280px;
	position: absolute;
	text-align: center;
	top: 980px;
	right: 120px;
	z-index: 1;
}

.dayere5 {
	width: 280px;
	height: 280px;
	position: absolute;
	text-align: center;
	top: 980px;
	right: 410px;
	z-index: 1;
}


